# New Relic
downloads/
ios/NewRelic_Mobile_iOS_local/
new-relic/tmp
modular-build/

# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
*.tgz
  

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
      
LicenseData/license_errors.txt
# Android/IntelliJ
#
#
build/
bin/
.settings/
.classpath
.idea
.gradle
local.properties
*.iml
android/.project
# BUCK
buck-out/
\.buckd/
*.keystore
      
dist

.vscode/
coverage/
docs/
git.README.md
package-lock.json
.codebuddy/