downloads
node_modules
scripts
!new-relic/scripts
.DS_Store
**/*.tgz
lcheck
LicenseData
ios/Pods
Dockerfile
grandcentral.yml
.gitmodules
.gitattributes
.babelrc
android/src/test/
hooks
setup.sh
modular-build
git.README.md
npm.README.md
nr-versions.json
.idea
CHANGELOG.md
NewRelicExampleApp
.husky
.github/